.order-content {
    margin: -40px 10px 0;

    .common-inner {
        position: relative;
        background-color: #fff;
        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 5px;
            background: url('../images/bg-pattern.png') repeat-x;
            background-size: auto 5px;
        }
        &::before {
            top: -5px;
        }
        &::after {
            bottom: -5px;
            transform: rotate(180deg);
        }
    }

    .order-content-top {
        position: relative;
        padding: 26px $m-padding 24px;
        &::after {
            content: '';
            position: absolute;
            top: 26px;
            right: $m-padding;
            width: 83px;
            height: 83px;
            border-radius: 100%;
            background: url('https://via.placeholder.com/83') no-repeat;
        }

        .title {
            line-height: 1.2;   // 원래 폰트의 1.2배
            font-size: 20px;
            font-weight: 700;
            color: $green;
        }
        .desc {
            margin-top: 8px;
            line-height: 1.2;
            font-size: 14px;
            font-weight: 500;
            color: $booking-color-text6;
        }
        .count {
            margin-top: 8px;
            line-height: 20px;
            font-size: 14px;
            color: $booking-color-text4;
            letter-spacing: -0.4px;
        }
    }
}