@import "./abstracts/variables_color";
@import "./abstracts/variables";
@import "./abstracts/mixin_common";

@import "./base/reset";
@import "./base/preset";

@import "./components/header_area";
@import "./components/menu_item";

@import "./components/detail/menu_detail_area";
@import "./components/detail/menu_review_area";
@import "./components/detail/option_popup_area";

@import "./components/menu/order_type";
@import "./components/menu/order_info_area";
@import "./components/menu/recent_order_area";
@import "./components/menu/menu_category_area";
@import "./components/menu/menu_list_area";
@import "./components/menu/order_box_area";
@import "./components/menu/go_to_top";


@import "./pages/order_page";