@import "./abstracts/variables_color";
@import "./abstracts/variables";

@import "./base/reset";
@import "./base/preset";

@import "./components/header_area";
@import "./components/order_type";
@import "./components/order_info_area";

@import "./pages/order_page";