body {
  min-width: 320px;
  line-height: normal;
  font-size: 14px;
  color: #000;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
textarea,
select,
table,
button,
code {
  font-family: -apple-system, BlinkMacSystemFont, helvetica, Apple SD Gothic Neo, sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden,
[hidden] {
  display: none !important;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

input,
textarea {
  font-size: inherit;
  border: 0;
}

input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}

input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.screen-out {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  text-indent: -9999px;
}

.scroll-x {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-x::-webkit-scrollbar {
  display: none;
}

.header-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #03c75a;
  color: #fff;
  z-index: 5000;
}

.header-area .place-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}

.header-area .place-header .title {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.header-area .place-header .link-back {
  display: flex;
}

.header-area .place-header .my-orders {
  padding-right: 18px;
  font-size: 15px;
  font-weight: 700;
}

.header-area .place-tab {
  display: flex;
  height: 46px;
  background-color: #03b753;
}

.header-area .tab-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 8px;
  width: 100%;
}

.header-area .tab-inner .tab {
  flex: 1;
  padding: 0 12px;
  font-size: 16px;
  text-align: center;
  opacity: 0.7;
}

.header-area .tab-inner .tab.is-active {
  font-weight: 700;
  opacity: 1;
}

.header-area .tab-inner .tab.is-active .txt::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #fff;
}

.header-area .tab-inner .tab .txt {
  position: relative;
  display: inline-block;
  padding: 0 4px;
  line-height: 46px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 18px;
  margin: 0 -18px;
}

.menu-item:not(:last-child) {
  border-bottom: 1px solid #f2f2f2;
}

.menu-item .menu-detail {
  display: flex;
  align-items: center;
  flex: 1;
}

.menu-item .menu-img-area {
  width: 100px;
  height: 110px;
  position: relative;
  flex-shrink: 0;
  margin-right: 12px;
  border-radius: 5px;
  overflow: hidden;
}

.menu-item .menu-img-area:not(.no-img)::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.06);
}

.menu-item .menu-img-area .menu-img {
  display: block;
}

.menu-item .menu-desc {
  margin-top: 4px;
  letter-spacing: -0.4px;
  color: #8f8f8f;
  font-size: 14px;
  line-height: 19px;
  max-height: 38px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  /* autoprefixer: off */
}

.menu-item .menu-price {
  margin-top: 4px;
  line-height: 1.4;
  font-size: 15px;
  font-weight: 700;
  color: #ff3d3b;
}

.menu-item .btn-cart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}

.menu-item .btn-cart .ico-cart {
  width: 20px;
  height: 20px;
}

.menu-item .btn-cart .num {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 50%;
  background-color: #ff3d3b;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.menu-item .btn-cart.disabled {
  font-size: 12px;
  border: 0;
  background-color: #eee;
  color: #777;
  cursor: not-allowed;
  pointer-events: none;
}

.menu-name-group {
  display: flex;
  align-items: center;
}

.menu-name-group .menu-name {
  font-size: 17px;
  line-height: 22px;
  font-weight: 700;
  color: #333;
}

.menu-name-group .ico-new {
  margin-left: 4px;
}

.menu-name-group .badge-popular {
  margin-left: 6px;
}

.menu-info-group {
  display: flex;
  flex-shrink: 0;
  margin-top: 4px;
  font-size: 14px;
}

.menu-info-group .menu-grade {
  flex-shrink: 0;
  font-weight: 700;
  color: #333;
}

.menu-info-group .menu-grade .ico-star {
  margin-right: 2px;
}

.menu-info-group .menu-grade + .menu-number-of-order::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 12px;
  margin: 0 8px;
  background-color: #ededed;
  transform: translateY(1px);
}

.menu-info-group .menu-number-of-order {
  flex-shrink: 0;
  color: #8f8f8f;
}

.menu-info-group .menu-number-of-order em {
  margin-left: 4px;
  font-style: normal;
  font-weight: 700;
  color: #333;
}

.menu-detail-area {
  background-color: #fff;
}

.menu-detail-area .menu-img {
  position: relative;
  height: 300px;
  background-color: #f8fafb;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.03);
}

.menu-detail-area .menu-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 130px;
  background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
  z-index: 1;
  opacity: 0.2;
}

.menu-detail-area .menu-img::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 65px;
  background-image: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
  z-index: 1;
  opacity: 0.15;
}

.dimmed-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.order-type-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 32px 0 40px;
  border-radius: 16px 16px 0 0;
  background-color: #fff;
  text-align: center;
  z-index: 10000;
}

.order-type-popup .title {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.order-type-popup .type-list {
  display: flex;
  margin-top: 32px;
}

.order-type-popup .type-item {
  flex: 1;
}

.order-type-popup .type-item + .type-item {
  border-left: 1px solid #f2f2f2;
}

.order-type-popup .icon {
  width: 100px;
  height: auto;
}

.order-type-popup .desc {
  margin-top: 8px;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 600;
  color: #000;
}

.order-type-popup .btn-selection {
  display: inline-block;
  margin-top: 10px;
  padding: 6px 18px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 28px;
  background-color: #424242;
  color: #fff;
}

.order-info-area {
  padding: 10px 18px 20px;
  border-bottom: 1px solid rbga(0, 0, 0, 0.04);
  background-color: #e7f7ff;
}

.order-info-area .info-main-title {
  line-height: 39px;
}

.order-info-area .title {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.3px;
  color: #333;
}

.order-info-area .title .ico-n-logo {
  margin-right: 6px;
  width: 24px;
  height: 24px;
}

.tab-switch-box {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.tab-switch-box .tab-switch {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.06);
  line-height: 40px;
  font-size: 13px;
  font-weight: 700;
  color: #666;
  letter-spacing: -0.3px;
  text-align: center;
}

.tab-switch-box .tab-switch.is-active {
  position: relative;
  flex-grow: 1.2;
  border: 1px solid #333;
  background-color: #fff;
  font-size: 15px;
  color: #333;
  box-shadow: 0 2px 3px 0 rbga(0, 0, 0, 0.05);
}

.tab-switch-box .tab-switch.is-active::after {
  content: '';
  position: absolute;
  bottom: -9px;
  left: 50%;
  width: 10px;
  height: 10px;
  border: 1px solid;
  border-width: 0 1px 1px 0;
  background-color: #fff;
  transform: rotate(45deg) translateX(-50%);
}

.tab-switch-box .tab-switch.is-active .ico-check {
  display: inline-block;
  margin-left: 4px;
  vertical-align: middle;
}

.tab-switch-box .ico-check {
  display: none;
}

.info-main-notice {
  display: flex;
  align-items: center;
  margin-top: 16px;
  padding: 12px 16px;
  background-color: #fff;
  border-radius: 2px;
  font-size: 14px;
  letter-spacing: -0.3px;
  color: #333;
}

.info-main-notice.alert {
  color: #ff3d3b;
  font-weight: 700;
}

.info-main-notice .ico-clock {
  margin-right: 6px;
}

.recent-order-area {
  display: flex;
  margin-top: 16px;
  padding: 18px 0;
  border-radius: 2px;
  background-color: #fff;
}

.recent-order-area .recent-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 8px;
  border-right: 1px solid #f2f2f2;
  line-height: 1.42;
  font-size: 12px;
  font-weight: 700;
  color: #333;
}

.recent-order-area .recent-title .ico-clock {
  margin-bottom: 4px;
  width: 14px;
}

.recent-order-area .recent-menu-list {
  display: flex;
}

.recent-order-area .recent-menu-item {
  box-sizing: content-box;
  position: relative;
  padding-right: 16px;
  width: 80px;
  text-align: center;
}

.recent-order-area .recent-menu-item.is-ordered {
  padding-left: 16px;
  border-right: 1px solid #f2f2f2;
}

.recent-order-area .recent-menu-item.is-ordered + .recent-menu-item {
  padding-left: 16px;
}

.recent-order-area .menu-img-area {
  position: relative;
  width: 80px;
  height: 80px;
  border: 1px solid #f9f9f9;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.01);
}

.recent-order-area .badge-popular {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 5px;
  border-radius: 10px;
  line-height: 16px;
  font-size: 11px;
  font-weight: 700;
  background-color: #ff61a7;
  color: #fff;
}

.recent-order-area .menu-img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.recent-order-area .badge-cart {
  position: absolute;
  top: 50px;
  right: 16px;
  display: flex;
  padding: 6px;
  border: 1px solid #e5e5e5;
  border-radius: 100%;
  background-color: #fff;
}

.recent-order-area .ico-cart {
  width: 16px;
  height: 16px;
}

.recent-order-area .menu-name {
  margin-top: 8px;
  font-weight: 600;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.recent-order-area .menu-price {
  font-size: 13px;
  font-weight: 700;
  color: #ff3d3b;
}

.menu-category-area {
  position: sticky;
  top: 94px;
  margin-top: 10px;
  background-color: #fff;
  z-index: 5500;
}

.menu-category-area .common-inner {
  border-bottom: 1px solid #f2f2f2;
  position: relative;
}

.menu-category-area .common-inner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 100%;
  background-image: linear-gradient(to right, #fff 35%, rgba(255, 255, 255, 0));
  pointer-events: none;
  z-index: 1;
}

.menu-category-area .common-inner::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 100%;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #fff 65%);
  pointer-events: none;
  z-index: 1;
}

.menu-category-area .category-list {
  display: flex;
  align-items: center;
  height: 54px;
}

.menu-category-area .category-item:first-child {
  padding-left: 18px;
}

.menu-category-area .category-item:last-child {
  padding-right: 18px;
}

.menu-category-area .category-tab {
  display: flex;
  align-items: center;
  padding: 0 12px;
  font-size: 16px;
  height: 30px;
  border-radius: 15px;
  color: #333;
}

.menu-category-area .category-tab.is-active {
  background-color: #424242;
  color: #fff;
  font-weight: 700;
}

.menu-list-area {
  padding: 28px 18px 10px;
  background-color: #fff;
}

.menu-list-area:not(.new):not(.popular) {
  margin-top: 10px;
}

.menu-list-area.new {
  border-bottom: 1px solid #f2f2f2;
}

.menu-list-area.is-closed {
  padding: 24px 18px;
}

.menu-list-area.is-closed + .is-closed {
  margin-top: 0;
  border-top: 1px solid #f2f2f2;
}

.menu-list-area.is-closed .ico-arrow {
  transform: rotate(180deg);
}

.menu-list-area.is-closed .menu-list {
  display: none;
}

.menu-list-area .menu-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-list-area .title-area {
  display: flex;
  align-items: center;
}

.menu-list-area .title {
  font-size: 19px;
  font-weight: 700;
  color: #333;
  letter-spacing: -0.3px;
}

.menu-list-area .period {
  font-size: 14px;
  letter-spacing: -0.3px;
  color: #666;
}

.menu-list-area .period::before {
  content: '';
  display: inline-block;
  margin: 0 10px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #ededed;
  vertical-align: middle;
}

.order-box-area {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  border-top: 1px solid #e8e8e8;
  box-shadow: 0 0 6px 4px rbga(0, 0, 0, 0.03);
  background-color: #fff;
  z-index: 9100;
}

.order-box-area .common-inner {
  display: flex;
  justify-content: space-between;
  padding: 12px 18px;
}

.order-box-area .menu-name {
  font-size: 15px;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.order-box-area .menu-price {
  font-size: 18px;
  font-weight: 700;
  color: #ff3d3b;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.order-box-area .btn-order {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 46px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #01d760, #0ad18e);
  font-weight: 700;
  letter-spacing: -0.3px;
  color: #fff;
}

.order-box-area .icon {
  position: relative;
  margin-left: 6px;
}

.order-box-area .ico-cart {
  width: 20px;
  height: 20px;
}

.order-box-area .num {
  position: absolute;
  top: -5px;
  right: -4px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  border-radius: 50%;
  background-color: #ff3d3b;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.go-to-top {
  padding: 16px 0 32px;
  background-color: #fff;
  text-align: center;
}

.go-to-top .link {
  display: inline-block;
  padding: 8px 20px;
  border-radius: 20px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  font-size: 14px;
  font-weight: 700;
  color: #666;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.04);
  text-transform: uppercase;
}

.go-to-top .ico-up {
  position: relative;
  display: inline-block;
  margin-left: 4px;
  width: 10px;
  height: 10px;
}

.go-to-top .ico-up::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 50%;
  width: 5px;
  height: 5px;
  border-top: 2px solid #666;
  border-left: 2px solid #666;
  transform: translate(-50%, -50%) rotate(45deg);
}

.go-to-top .ico-up::after {
  content: '';
  position: absolute;
  top: 1px;
  left: 50%;
  width: 2px;
  height: 9px;
  background-color: #666;
  transform: translateX(-50%);
}

.container {
  padding-top: 94px;
  padding-bottom: 70px;
  background-color: #f4f7f9;
}

.common-inner {
  margin: 0 auto;
  max-width: 720px;
}

.badge-popular {
  display: inline-block;
  padding: 0 5px;
  border-radius: 10px;
  font-size: 11px;
  line-height: 16px;
  font-weight: 700;
  background-color: #ff61a7;
  color: #fff;
}
