.menu-detail-area {
    background-color: #fff;

    // 메뉴 이미지 영역
    .menu-img {
        position: relative;
        height: 300px;
        background-color: #f8fafb;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.03);
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 130px;
            background-image: linear-gradient(to bottom, #000, rgba(0,0,0,0));
            z-index: 1;
            opacity: 0.2;
        }
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 65px;
            background-image: linear-gradient(to top, #000, rgba(0,0,0,0));
            z-index: 1;
            opacity: 0.15;
        }
    }

    // 메뉴 정보 영역
    .menu-info-area {
        margin-top: -20px;
        padding: 0 $m-padding 20px;

        .common-inner {
            position: relative;
            padding: 18px;
            border-radius: 5px;
            background-color: #fff;
            box-shadow: 0 0 4px 3px rgba(0,0,0,0.04);
            z-index: 1;
        }

        .menu-info-group {
            margin-top: 5px;

            .menu-price {
                line-height: 24px;
                font-size: 19px;
                font-weight: 700;
                color: $point-color;
            }

            .menu-grade::before,
            .menu-number-of-order::before {
                content: '';
                display: inline-block;
                margin: 0 8px;
                width: 1px;
                height: 12px;
                background-color: $booking-color-bg204;
                transform: translateY(1px);
            }

            .menu-grade,
            .menu-number-of-order {
                line-height: 24px;
            }

        }
        
        .menu-disc {
            margin-top: 12px;
            font-size: 15px;
            line-height: 22px;
            color: $booking-color-text6;
        }
    }
}