.option-popup-area {
    // 전체 영역에 꽉 차게
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 5000;

    .menu-option-popup {
        position: fixed;
        bottom: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-height: calc(100% - 45px);
        background-color: $booking-color-border151;
        z-index: 10000;
    }

    .content-top-pattern {
        position: absolute;
        top: -11px;
        width: 100%;
        height: 11px;
        fill: white;    // svg이기 때문에 가능
    }

    .content-top {
        border-bottom: 1px solid $booking-color-border122;
        background-color: #fff;
        box-shadow: 0 0 15px 0 rgba(0,0,0,0.08);
        z-index: 1;

        .common-inner {
            position: relative;
            display: flex;
            align-items: center;
            padding: 18px $m-padding 20px;
        }

        .menu-img-area {
            position: relative;
            margin-right: 16px;
            width: 70px;
            height: 70px;
            border-radius: 100%;
            overflow: hidden;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(43,29,0,0.1);
            }
        }

        .menu-detail-area {
            flex: 1;
            padding-right: 36px;
        }

        .menu-name {
            display: flex;
            align-items: center;
            font-weight: 700;
            .name {
                font-size: 18px;
            }
            .badge {
                margin-left: 6px;
                padding: 0 7px;
                border-radius: 8px;
                background-color: #333;
                font-size: 11px;
                line-height: 16px;
                letter-spacing: -0.3px;
                color: #fff;
            }
        }

        .amount-select {
            margin-top: 12px;
        }

        .btn-close {
            position: absolute;
            top: 0;
            right: 0;
            width: 48px;
            height: 48px;
        }
    }
    
    .content-body {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        div {
            background-color: red;
        }
    }

    .content-bottom {
        padding: 0 10px 10px;
        .btn-order {
            @include common-inner;
            display: block;
            width: 100%;
            line-height: 52px;
            border-radius: 3px;
            font-weight: 700;
            background-color: $green;
            color: white;
            @include ellipsis;
            &:disabled {
                background-color: #c9c9c9;
                color: $booking-color-text131;
            }
        }
    }
}