.option-popup-area {
    // 전체 영역에 꽉 차게
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 5000;

    .menu-option-popup {
        position: fixed;
        bottom: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-height: calc(100% - 45px);
        background-color: $booking-color-border151;
        z-index: 10000;
    }

    .content-top-pattern {
        position: absolute;
        top: -11px;
        width: 100%;
        height: 11px;
        fill: white;    // svg이기 때문에 가능
    }

    .content-top {
        height: 100px;
        border-bottom: 1px solid $booking-color-border122;
        background-color: #fff;
        box-shadow: 0 0 15px 0 rgba(0,0,0,0.08);
        z-index: 1;
    }
    
    .content-body {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        div {
            background-color: red;
        }
    }

    .content-bottom {
        padding: 0 10px 10px;
    }
}